<!DOCTYPE html>
<html>
  <head>
    <title>Genngoka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
    <header>
      <% if current_user %>
        <%= current_user.name %>さん
        <%= link_to "ログアウト", log_out_path %>
      <% else  %>
        ゲストさん
        <%= button_to "Googleでログイン", "/auth/google_oauth2",　method: :post, data: { turbo: false } %>
      <% end %>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
