<!DOCTYPE html>
<html>
  <head>
    <title>Genngoka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  </head>
  <body>

    <% if current_user %>
      <%= render 'shared/header'%>
    <%else%>
      <%= render 'shared/before_login_header'%>
    <%end%>
    
    <%= yield %>
    
    <%= javascript_importmap_tags %>
  </body>
</html>
